:root {
    --color-primary: #4A5FC1;
    --color-primary-light: hsl(242, 91%, 69%, 18%);
    --color-primary-variant: #5854c7;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #E1FCFD;
    --color-green-light: #9CF6FB;
    --color-gray-900: #394F8A;
    --color-gray-700: #2d2b7c;
    --color-gray-300: #E5B9A8;
    --color-gray-200: #EAD6CD;
    --color-white: #f2f2fe;
    --color-bg: #394F8A;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}




* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--color-gray-200);
    overflow: hidden;
    background-color: white;
    background-size: cover;
    font-size: 0.9rem;
    background-image: url('https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg')
}